<md-toolbar class="navigation-header md-whiteframe-1dp" data-layout="row" data-layout-align="space-between center">
    <a data-ui-sref="app.leads.board" class="logo" data-layout="row" data-layout-align="start center">
        <h1 data-hide-xs data-hide-gt-xs data-translate>Infoauto</h1>
        <img class="open-navigation" src="assets/logo/logo{{domain}}.png" alt="{{'Configuración del sitio' | translate}}" title="{{'Inicio' | translate}}"/>
        <img class="close-navigation" src="assets/logo/logowhite{{domain}}.png" alt="{{'Configuración del sitio' | translate}}" title="{{'Inicio' | translate}}"/>
    </a>

    <md-icon class="fold-toggle s18" data-md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>
