<div id="videos" class="page-layout carded fullwidth" data-layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" data-layout="column" data-flex>

         <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-video"></md-icon>
                    <span data-translate>Tutoriales</span>
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" data-layout="column" data-flex>

            <md-content class="content p-20" flex ms-scroll>

                <div layout="row" layout-align="space-between start" layout-wrap>

                    <div flex="45" flex-xs="100" class="mb-40">
                        <div class="title" translate>Breve recorrido SML</div>
                        <video src="assets/movies/breve_recorrido_sml.webm" controls></video>
                    </div>

                    <div flex="45" flex-xs="100" class="mb-40">
                        <div class="title" translate>Crear lead</div>
                        <video src="assets/movies/crear_lead.webm" controls></video>
                    </div>

                    <div flex="45" flex-xs="100" class="mb-40">
                        <div class="title" translate>Vista rápida SML</div>
                        <video src="assets/movies/vista_rapida_sml.webm" controls></video>
                    </div>

                </div>
            </md-content>
            <!-- CONTENT -->
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
