#users {

  .header {
    .h1 {

      md-icon {
        margin-right: 12px;
      }
    }

    .search-autocomplete {
      margin-right:30px;
      min-width:200px;
      label{
          color: rgba(255, 255, 255, 0.5);
          font-size: 16px;
          transform: translate3d(31px, 33px, 0) scale(1);
          font-weight:bold;
      }

      .md-input-has-value label:not(.md-no-float){
          transform: translate3d(33px, 13px, 0) scale(0.75);
      }

      input {
          margin: 0 0 0 32px;
          background: none;
          font-size: 16px;
          line-height: 40px;
          height: 40px;
          color: #fff;
          border-bottom: 2px solid rgba(255, 255, 255, 0.3);
          transition: border-color 300ms ease;

          &:focus {
              border-color: rgba(255, 255, 255, 1);
          }
      }

      md-input-container{
          margin:0;
      }

      &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
      }

    }
  }



  // Single scroll
  &.single-scroll {

    .todo-list-pane {
      overflow: hidden;
    }
  }

  .todo-item {
    width:100%;
    position: relative;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: none;

    .info{
      padding: 8px;
    }

    .options {
        text-align:right;
    }

    &.todo-item-placeholder {
      background: rgba(0, 0, 0, 0.12);
      * {
        opacity: 0;
      }
    }

    .handle {
      display: none;
      position: absolute;
      height: 100%;
      width: 48px;
      top: 0;
      left: 0;
      cursor: move;
      text-align: center;

      md-icon {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .image{
        max-width:200px;
        margin-right:20px;
    }
    .tags {
      font-size: 12px;

      .tag {
        border-radius: 2px;
        margin: 4px 4px 0 0;
        padding: 3px 8px;
        background-color: rgba(0, 0, 0, 0.08);

        .tag-color {
          width: 8px;
          height: 8px;
          margin-right: 8px;
          border-radius: 50%;
        }
      }

      .aforo, .music, .location {
        border-radius: 2px;
        margin: 4px 4px 0 0;
        padding: 3px 8px 3px 8px;
      }

    }

    .info {
      margin: 0 16px 0 8px;

      .title {
        font-size: 15px;
        font-weight: 500;
      }

      .notes {
        margin-top: 4px;
        margin-right: 10px;
      }
    }

    .buttons {

      .is-starred {
        margin: 0 0 0 16px;
      }

      .is-important {
        margin: 0;
      }
    }
  }

  .todo-item-ghost {
    opacity: 1 !important;
    background: #FFFFFF;
    box-shadow: $whiteframe-shadow-14dp;
    border: none;

    .md-ripple-container {
      display: none;
    }
  }

  .avatar-wrapper {
      position: relative;

      .status {
          position: absolute;
          bottom: -3px;
          right: 5px;
      }
  }

}



// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

  #users {

    .todo-list-pane {

      .sortable {

        .todo-items {

          .todo-item {
            padding-left: 32px;
          }
        }
      }

      .todo-items {

        .todo-item {

          .handle {
            width: 32px;
          }
        }
      }
    }
  }
}