<div id="channels" class="page-layout carded fullwidth" data-layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" data-layout="column" data-flex>

         <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-checkerboard"></md-icon>
                    <span data-translate>Canales</span>
                </div>
                <div class="count secondary-text">
                    <span data-translate>Número de canales:</span>
                    <span>{{vm.channels.count}}</span>
                </div>
            </div>

            <div data-layout="row" data-layout-align="space-between center" data-layout-wrap>

                <div class="actions" data-layout="row" data-layout-align="end center" data-ng-if="hasPermission('channels','POST')">
                    <md-button class="md-raised" aria-label="{{'Nuevo canal' | translate}}"
                               data-ng-click="vm.openChannelDialog($event)">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        <span data-translate>Nuevo canal</span>
                    </md-button>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" data-layout="column" data-flex>

            <md-content class="content p-20" flex ms-scroll>

                <div layout="column" layout-align="space-between start">

                    <div class="no-results text-center" ng-if="vm.channels.count == 0">

                        <div class="message">
                            <md-icon class="message-icon s96" md-font-icon="icon-checkerboard"></md-icon>
                            <div class="message-text" translate>Sin canales</div>
                        </div>

                    </div>
                    <div class="todo-item" layout="row" layout-align="start center"
                         data-dir-paginate="channel in vm.channels.data | itemsPerPage: 10 | orderBy:'order'"
                            data-total-items="vm.channels.count" data-current-page="vm.channels.filters.page">

                        <div layout="row" layout-align="start center" flex>

                            <div class="info" flex="auto">
                                <div layout="row" data-layout-xs="column" layout-align="space-between center">
                                    <div layout="row" layout-align="space-between center">
                                        <div>
                                            <div class="title">
                                                <span>{{channel.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="end center">
                                        <md-button data-layout="column" class="md-accent" data-layout-align="start center"
                                                   data-ng-if="hasPermission('channels','PATCH')" data-ng-click="vm.openChannelDialog($event, channel)">
                                            <md-icon class="pt-5" title="{{'Editar' | translate}}" md-font-icon="icon-pencil"></md-icon>
                                            <span class="pt-5" data-translate>Editar</span>
                                        </md-button>
                                        <!--<md-button data-layout="column" class="md-warn" data-layout-align="start center"
                                                   data-ng-if="hasPermission('channels','DELETE')" data-ng-click="vm.removeChannel($event, channel)">
                                            <md-icon class="pt-5" title="{{'Eliminar' | translate}}" md-font-icon="icon-delete"></md-icon>
                                            <span class="pt-5" data-translate>Eliminar</span>
                                        </md-button>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <dir-pagination-controls class="bottomFixed"></dir-pagination-controls>

                </div>
            </md-content>
            <!-- CONTENT -->
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
