<div data-layout="column" data-layout-align="start start" flex="100" class="md-whiteframe-z1">

    <md-toolbar class="md-grey-300-bg black-fg">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="md-flex text-uppercase">
                <md-icon md-font-icon="icon-car" class="black-fg no-margin"></md-icon>
                <span data-translate>Producto</span>
            </h2>
            <md-icon ng-hide="vm.isDisabled()" ng-click="vm.addVehicle()" md-font-icon="icon-plus-circle-outline" class="pointer black-fg no-margin"></md-icon>
        </div>
    </md-toolbar>

    <md-content class="fullwidth">

        <div ng-repeat="vehicle in vm.lead.vehicles" flex layout-padding data-layout-xs="column" data-layout="row"
             data-layout-align="space-between start" layout-wrap class="fullwidth" ng-init="vehicle.field={}">

            <div layout-margin-lg flex="80" data-layout="row" layout-wrap>
                <div class="h-30" data-layout="column" data-layout-align="center start"
                     ng-init="vehicle.field['brand_model']='vehicles___'+$index+'___brand_model'">
                    <md-autocomplete md-floating-label="{{'Marca' | translate }}" md-delay="300" md-input-name="{{vehicle.field['brand_model']}}"
                                     md-no-cache="true" ng-disabled="vm.isDisabled()" required
                                     md-selected-item="vehicle.brand_model_data" md-search-text="searchTextBrand"
                                     md-items="brand in vm.getBrands(searchTextBrand)" md-min-length="0"
                                     md-item-text="brand.name">
                        <md-item-template>
                            <span md-highlight-text="searchTextBrand">{{brand.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span data-translate>No hay ninguna marca con ese nombre</span>
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container flex="100" class="no-margin">
                        <error-messages field="leadForm[vehicle.field['brand_model']]" server-errors="vm.serverErrors"  required></error-messages>
                    </md-input-container>
                </div>

                <div class="h-30" data-layout="column" data-layout-align="center start"
                     ng-init="vehicle.field['model']='vehicles___'+$index+'___model'">
                    <md-autocomplete md-floating-label="{{'Modelo' | translate }}" md-delay="300" md-input-name="{{vehicle.field['model']}}"
                                     md-no-cache="true" ng-disabled="vm.isDisabled() || !vehicle.brand_model_data"
                                     md-selected-item="vehicle.model_data" md-search-text="searchTextModel"
                                     md-items="model in vm.getModels(vehicle.brand_model_data.id, searchTextModel)" md-min-length="0"
                                     md-item-text="model.model_name">
                        <md-item-template>
                            <span md-highlight-text="searchTextModel">{{model.model_name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span data-translate>No hay ningun modelo con ese nombre</span>
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container flex="100" class="no-margin">
                        <error-messages field="leadForm[vehicle.field['model']]" server-errors="vm.serverErrors"  required></error-messages>
                    </md-input-container>
                </div>

                <div class="h-30" data-layout="column" data-layout-align="center start"
                     ng-init="vehicle.field['version']='vehicles___'+$index+'___version'">
                    <md-autocomplete md-floating-label="{{'Version' | translate }}" md-delay="300" md-input-name="{{vehicle.field['version']}}"
                                     md-no-cache="true" ng-disabled="vm.isDisabled() || !vehicle.model_data"
                                     md-selected-item-change="vm.changeVehicleVersion(vehicle,'power','gas')"
                                     md-selected-item="vehicle.version_data" md-search-text="searchTextVersion"
                                     md-items="version in vm.getVersions(vehicle.model_data.id, searchTextVersion)" md-min-length="0"
                                     md-item-text="vm.getFullNameVersion(version)">
                        <md-item-template>
                            <span md-highlight-text="searchTextVersion">{{vm.getFullNameVersion(version)}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span data-translate>No hay ninguna versión con ese nombre</span>
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container flex="100" class="no-margin">
                        <error-messages field="leadForm[vehicle.field['version']]" server-errors="vm.serverErrors"  required></error-messages>
                    </md-input-container>
                </div>

                <md-input-container ng-init="vehicle.field['price']='vehicles___'+$index+'___price'">
                    <label data-translate>Precio</label>
                    <input type="text" name="{{vehicle.field['price']}}" data-ng-model="vehicle.price" ng-disabled="vm.isDisabled()">
                    <error-messages field="leadForm[vehicle.field['price']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <md-input-container ng-init="vehicle.field['km']='vehicles___'+$index+'___km'">
                    <label data-translate>Km</label>
                    <input type="text" name="{{vehicle.field['km']}}" data-ng-model="vehicle.km" ng-disabled="vm.isDisabled()">
                    <error-messages field="leadForm[vehicle.field['km']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <md-input-container ng-init="vehicle.field['power']='vehicles___'+$index+'___power'">
                    <label data-translate>Potencia</label>
                    <input type="text" name="{{vehicle.field['power']}}" data-ng-model="vehicle.power" ng-disabled="vm.isDisabled()">
                    <error-messages field="leadForm[vehicle.field['power']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <md-input-container ng-init="vehicle.field['year']='vehicles___'+$index+'___year'">
                    <label data-translate>Año</label>
                    <input type="text" name="{{vehicle.field['year']}}" data-ng-model="vehicle.year" ng-disabled="vm.isDisabled()">
                    <error-messages field="leadForm[vehicle.field['year']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <md-input-container ng-init="vehicle.field['gas']='vehicles___'+$index+'___gas'">
                    <label data-translate>Combustible</label>
                    <md-select name="{{vehicle.field['gas']}}" data-ng-model="vehicle.gas" ng-disabled="vm.isDisabled()">
                        <md-option data-ng-repeat="gas in vm.gasTypes.data" data-ng-value="gas.id">
                            {{gas.name}}
                        </md-option>
                    </md-select>
                    <error-messages field="leadForm[vehicle.field['gas']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <md-input-container ng-init="vehicle.field['vehicle_type']='vehicles___'+$index+'___vehicle_type'">
                    <label data-translate>Tipo</label>
                    <md-select name="{{vehicle.field['vehicle_type']}}" data-ng-model="vehicle.vehicle_type"
                               ng-disabled="vm.isDisabled()" ng-change="leadForm[vehicle.field['vehicle_type']].$setValidity('serverError', true);">
                        <md-option data-ng-repeat="type in vm.vehicleTypes" data-ng-value="type.id">
                            {{type.name}}
                        </md-option>
                    </md-select>
                    <error-messages field="leadForm[vehicle.field['vehicle_type']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <md-input-container ng-init="vehicle.field['comercial_category']='vehicles___'+$index+'___comercial_category'">
                    <label data-translate>Categoría comercial</label>
                    <md-select name="{{vehicle.field['comercial_category']}}" data-ng-model="vehicle.comercial_category" ng-disabled="vm.isDisabled()">
                        <md-option data-ng-repeat="category in vm.comercialCategories" data-ng-value="category.id">
                            {{category.name}}
                        </md-option>
                    </md-select>
                    <error-messages field="leadForm[vehicle.field['comercial_category']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <!--<md-input-container ng-init="vehicle.field['origin']='vehicles___'+$index+'___origin'">
                    <label data-translate>Origen</label>
                    <md-select name="{{vehicle.field['origin']}}" ng-change="vm.selectOrigin(vehicle)"
                               data-ng-model="vehicle.origin" ng-disabled="vm.isDisabled() || !vm.lead.source_data">
                        <md-option data-ng-repeat="origin in vm.origins" data-ng-value="origin.id">
                            <div class="content-img-select">
                                <img ng-src="{{ origin.icon }}"/>
                            </div>
                            <span>{{origin.name}}</span>
                        </md-option>
                    </md-select>
                    <error-messages field="leadForm[vehicle.field['origin']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>-->

                <!--<md-input-container ng-init="vehicle.field['media']='vehicles___'+$index+'___media'">
                    <label data-translate>Canal</label>
                    <md-select name="{{vehicle.field['media']}}" data-ng-model="vehicle.media" ng-disabled="vm.isDisabled() || !vehicle.origin">
                        <md-option data-ng-repeat="media in vehicle.channelOptions" data-ng-value="media.id">
                            <span>{{media.name}}</span>
                        </md-option>
                    </md-select>
                    <error-messages field="leadForm[vehicle.field['media']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>-->

                <md-input-container ng-init="vehicle.field['gear_shift']='vehicles___'+$index+'___gear_shift'">
                    <label data-translate>Cambio</label>
                    <md-select name="{{vehicle.field['gear_shift']}}" data-ng-model="vehicle.gear_shift" ng-disabled="vm.isDisabled()">
                        <md-option data-ng-repeat="gearShift in vm.gearShifts" data-ng-value="gearShift.id">
                            {{gearShift.name}}
                        </md-option>
                    </md-select>
                    <error-messages field="leadForm[vehicle.field['gear_shift']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <md-input-container ng-init="vehicle.field['note']='vehicles___'+$index+'___note'" class="w-400">
                    <label data-translate>Descripción</label>
                    <textarea class="dynamic" name="{{vehicle.field['note']}}" data-ng-model="vehicle.note" ng-disabled="vm.isDisabled()"></textarea>
                    <error-messages field="leadForm[vehicle.field['note']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>


                <md-input-container ng-init="vehicle.field['ad_link']='vehicles___'+$index+'___ad_link'"
                                    class="w-400 md-icon-float md-icon-right">
                    <label data-translate>Link anuncio</label>
                    <input type="text" name="{{vehicle.field['ad_link']}}" data-ng-model="vehicle.ad_link" ng-disabled="vm.isDisabled()">
                    <md-icon ng-if="vehicle.ad_link && vm.selectedTab===1" title="{{'Ir al anuncio' | translate}}" md-font-icon="icon-open-in-new"
                             class="md-accent pointer" data-ng-click="vm.iframeAdLink=vehicle.ad_link"></md-icon>
                    <error-messages field="leadForm[vehicle.field['ad_link']]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>


            </div>

            <div layout="row" layout-align="end center" ng-hide="vm.isDisabled()">
                <md-button data-layout="column" class="md-icon-button md-warn" data-layout-align="start center" ng-if="vm.lead.vehicles.length>1"
                           data-ng-click="vm.deleteVehicle($index,vehicle)">
                    <md-icon title="{{'Eliminar' | translate}}" md-font-icon="icon-delete"></md-icon>
<!--                    <span class="pt-5" data-translate>Eliminar</span>-->
                </md-button>
            </div>
        </div>

        <div data-layout-xs="column" data-layout="row" data-layout-align="space-between center"
             layout-wrap class="fullwidth" ng-if="vm.serverErrors">

            <md-input-container flex="100" class="no-margin">
                <input type="hidden" name="vehicles___non_field_errors" data-ng-model="vm.lead.vehicles.non_field_errors">
                <error-messages field="leadForm.vehicles___non_field_errors" server-errors="vm.serverErrors"></error-messages>
            </md-input-container>

        </div>
    </md-content>

</div>
