<md-dialog class="task-dialog" aria-label="New Task">
    <form name="channelForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" data-layout="row" data-layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" data-ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div data-layout="column">
                
                <md-input-container flex="100">
                    <input type="text" name="name" data-ng-model="vm.channel.name"
                           placeholder="{{'Nombre' | translate}}" required md-autofocus>
                    <error-messages field="channelForm.name" server-errors="vm.serverErrors" required></error-messages>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions data-layout="row" data-layout-align="space-between center">
            <div data-layout="row" data-layout-align="start center">
                <md-button data-debouce-click type="submit" data-ng-click="vm.saveChannel()" class="send-button md-accent md-raised"
                           data-ng-disabled="channelForm.$invalid || channelForm.$pristine" aria-label="{{'Guardar' | translate}}">
                    <span data-translate>Guardar</span>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
